<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.aptana.js.debug.core.webbrowserLaunchConfigurationType">
<booleanAttribute key="advancedRunEnabled" value="false"/>
<booleanAttribute key="appendProjectName" value="true"/>
<stringAttribute key="browserCmdLine" value=""/>
<stringAttribute key="browserExecutable" value="/usr/bin/firefox"/>
<stringAttribute key="externalBaseUrl" value="http://rpi/~thomas/"/>
<stringAttribute key="httpGetData" value=""/>
<intAttribute key="serverType" value="3"/>
<intAttribute key="startActionType" value="1"/>
<stringAttribute key="startPagePath" value=""/>
<stringAttribute key="startPageUrl" value="http://rpi/~thomas/"/>
</launchConfiguration>
